{% comment %}
This is the typical schedule for the Data Carpentry workshops.
The schedule for the different curricula are listed here:
- dc-astronomy
- dc-ecology
- dc-genomics
- dc-socsci
- dc-geosptial
{% endcomment %}

{% if site.curriculum == "dc-astronomy" %}
<div class="row">
  <div class="col-md-6">
    <h3>Day 1</h3>
    <table class="table table-striped">
      <tr>
	<td>Before starting</td>
	<td><a href="{{ site.pre_survey }}{{ site.github.project_title }}" target="_blank">Pre-workshop survey</a></td>
      </tr>
      <tr><td>Morning</td> <td> <a href="https://datacarpentry.org/astronomy-python/01-query/">Basic Queries</a></td></tr>
      <tr><td> </td><td><a href="https://datacarpentry.org/astronomy-python/02-coords/">Coordinate Transformations</a></td></tr>
      <tr><td>Afternoon</td> <td> <a href="https://datacarpentry.org/astronomy-python/03-transform/">Plotting and Tabular Data</a></td></tr>
      <tr><td> </td> <td> <a href="https://datacarpentry.org/astronomy-python/04-motion/">Plotting and Pandas</a></td></tr>
    </table>
  </div>
  <div class="col-md-6">
    <h3>Day 2</h3>
    <table class="table table-striped">
      <tr><td>Morning</td><td><a href="https://datacarpentry.org/astronomy-python/05-select/">Transform and Select</a></td></tr>
      <tr><td> </td> <td> <a href="https://datacarpentry.org/astronomy-python/06-join/">Join</a></td></tr>
      <tr><td>Afternoon</td><td><a href="https://datacarpentry.org/astronomy-python/07-photo/">Photometry</a></td></tr>
      <tr><td> </td><td><a href="https://datacarpentry.org/astronomy-python/08-plot/">Visualization</a></td></tr>
    </table>
  </div>
</div>

{% elsif site.curriculum == "dc-ecology" %}
<div class="row">
  <div class="col-md-6">
    <h3>Day 1</h3>
    <table class="table table-striped">
      <tr>
	<td>Before starting</td>
	<td><a href="{{ site.pre_survey }}{{ site.github.project_title }}" target="_blank">Pre-workshop survey</a></td>
      </tr>
      <tr><td>Morning</td> <td> <a href="https://datacarpentry.org/spreadsheet-ecology-lesson/">Data Organization in Spreadsheets</a></td></tr>
      <tr><td> </td><td><a href="https://datacarpentry.org/OpenRefine-ecology-lesson/">OpenRefine for Data Cleaning</a></td></tr>
      <tr>
        <td>Afternoon</td>
        <td>
          {% if site.flavor == "r" %}
          <a href="https://datacarpentry.org/R-ecology-lesson/">Introduction to R</a>
          {% elsif site.flavor == "python" %}
          <a href="https://datacarpentry.org/python-ecology-lesson/">Introduction to Python</a>
          {% else %}
          {% include warning-flavor.html %}
          {% endif %}
      </td></tr>
      <tr> <td>Evening</td> <td>END</td> </tr>
    </table>
  </div>
  <div class="col-md-6">
    <h3>Day 2</h3>
    <table class="table table-striped">
      <tr> <td>Morning</td>
        <td>
          {% if site.flavor == "r" %}
          <a href="https://datacarpentry.org/R-ecology-lesson/">Continuation of R: Data analysis and Visualization</a>
          {% elsif site.flavor == "python" %}
          <a href="https://datacarpentry.org/python-ecology-lesson/">Continuation of Python: Data analysis and Visualization</a>
          {% else %}
          {% include warning-flavor.html %}
          {% endif %}
        </td>
      </tr>
      <tr> <td>Afternoon</td><td><a href="https://datacarpentry.org/sql-ecology-lesson/">Data Management with SQL</a></td></tr>
      <tr>
	<td>Evening</td>
	<td><a href="{{ site.post_survey }}{{ site.github.project_title }}" target="_blank">Post-workshop survey</a></td>
      </tr>
      <tr>
	<td> </td>
	<td> END </td>
      </tr>
    </table>
  </div>
</div>

{% elsif site.curriculum == "dc-genomics" %}

<div class="row">
  <div class="col-md-6">
    <h3>Day 1</h3>
    <table class="table table-striped">
      <tr>
	<td>Before starting</td>
	<td><a href="{{ site.pre_survey }}{{ site.github.project_title }}" target="_blank">Pre-workshop survey</a></td>
      </tr>
      <tr><td>Morning</td> <td> <a href="https://datacarpentry.org/organization-genomics/">Project Organization and Management</a></td></tr>
      <tr><td> </td><td><a href="https://datacarpentry.org/shell-genomics/">Introduction to the Command Line</a></td></tr>
      <tr><td>Afternoon</td><td><a href="https://datacarpentry.org/wrangling-genomics/">Data Wrangling and Processing</a></td></tr>
			<tr> <td>Evening</td> <td>END</td> </tr>
    </table>
  </div>
  <div class="col-md-6">
    <h3>Day 2</h3>
    <table class="table table-striped">
			<tr><td>Morning</td><td><a href="https://datacarpentry.org/wrangling-genomics/">Continuation: Data Wrangling and Processing</a></td></tr>
			<tr><td>Afternoon</td><td><a href="https://datacarpentry.org/cloud-genomics/">Introduction to Cloud Computing for Genomics</a></td></tr>
      <tr>
	<td>Evening</td>
	<td><a href="{{ site.post_survey }}{{ site.github.project_title }}" target="_blank">Post-workshop survey</a></td>
      </tr>
      <tr>
	<td> </td>
	<td> END </td>
      </tr>
    </table>
  </div>
</div>

{% elsif site.curriculum == "dc-socsci" %}

<div class="row">
  <div class="col-md-6">
    <h3>Day 1</h3>
    <table class="table table-striped">
      <tr>
	<td>Before starting</td>
	<td><a href="{{ site.pre_survey }}{{ site.github.project_title }}" target="_blank">Pre-workshop survey</a></td>
      </tr>
      <tr><td>Morning</td> <td> <a href="https://datacarpentry.org/spreadsheets-socialsci/">Data Organization in Spreadsheets</a></td></tr>
      <tr><td> </td><td><a href="https://datacarpentry.org/openrefine-socialsci/">OpenRefine for Data Cleaning</a></td></tr>
      <tr><td>Afternoon</td><td><a href="https://datacarpentry.org/r-socialsci/">Introduction to R</a></td></tr>
      <tr> <td>Evening</td> <td>END</td> </tr>
    </table>
  </div>
  <div class="col-md-6">
    <h3>Day 2</h3>
    <table class="table table-striped">
      <tr> <td>Morning</td> <td><a href="https://datacarpentry.org/r-socialsci/">Continuation of R: Data Analysis & Visualization</a></td></tr>
      <tr> <td>Afternoon</td><td><a href="https://datacarpentry.org/sql-socialsci/">Data Management with SQL</a></td></tr>
      <tr>
	<td>Evening</td>
	<td><a href="{{ site.post_survey }}{{ site.github.project_title }}" target="_blank">Post-workshop survey</a></td>
      </tr>
      <tr>
	<td> </td>
	<td> END </td>
      </tr>
    </table>
  </div>
</div>


{% elsif site.curriculum == "dc-geospatial" %}

<div class="row">
  <div class="col-md-6">
    <h3>Day 1</h3>
            <table>
            <th>Start</th>
            <th>End</th>
            <th>Length</th>
            <th>Episode</th>
            <tr>
                <td>09:00</td>
                <td>09:15</td>
                <td>00:15:00</td>
                <td>Intro and pre-workshop survey</td>
            </tr>
            <tr>
                <td>09:15</td>
                <td>09:40</td>
                <td>00:25:00</td>
                <td><a href="https://datacarpentry.org/organization-geospatial/01-intro-raster-data/index.html">Introduction to raster data</a>
                </td>
            </tr>
            <tr>
                <td>09:40</td>
                <td>09:55</td>
                <td>00:15:00</td>
                <td><a href="https://datacarpentry.org/organization-geospatial/03-crs/index.html">Coordinate reference systems</a></td>
            </tr>
            <tr>
                <td>09:55</td>
                <td>10:05</td>
                <td>00:10:00</td>
                <td><a href="https://datacarpentry.org/organization-geospatial/04-geo-landscape/index.html">The geospatial landscape</a></td>
            </tr>
           
            <tr>
                <td>10:05</td>
                <td>10.30</td>
                <td>00:25:00</td>
                <td><a href="https://datacarpentry.org/r-intro-geospatial/01-rstudio-intro/index.html">Introduction to R and RStudio</a></td>
            </tr> 
		    <tr style="background-color:green;font-weight:bold">
                <td>10:30</td>
                <td>10:45</td>
                <td>00:15:00</td>
                <td>BREAK</td>
            </tr>
            <tr>
                <td>10:45</td>
                <td>11:00</td>
                <td>00:15:00</td>
                <td><a href="https://datacarpentry.org/r-intro-geospatial/02-project-intro/index.html">Project management with Rstudio</a></td>
            </tr>
		      <tr>
                <td>11:00</td>
                <td>11:55</td>
                <td>00:55:00</td>
                <td><a href="https://datacarpentry.org/r-intro-geospatial/03-data-structures-part1/index.html">Data structures</a></td>
            </tr>
            <tr style="background-color:green;font-weight:bold">
                <td>11:55</td>
                <td>12:55</td>
                <td>01:00:00</td>
                <td>LUNCH</td>
            </tr>
            <tr>
                <td>12:55</td>
                <td>13:25</td>
                <td>00:30:00</td>
                <td><a href="https://datacarpentry.org/r-intro-geospatial/04-data-structures-part2/index.html">Exploring data frames</a></td>
            </tr>
            <tr>
                <td>13:25</td>
                <td>14:00</td>
                <td>00:35:00</td>
                <td><a href="https://datacarpentry.org/r-intro-geospatial/05-data-subsetting/index.html">Subsetting data</a></td>
            </tr>
            <tr style="background-color:green;font-weight:bold">
                <td>14:00</td>
                <td>14:15</td>
                <td>00:15:00</td>
                <td>BREAK</td>
            </tr>
            <tr>
                <td>14:15</td>
                <td>14:55</td>
                <td>00:40:00</td>
                <td><a href="https://datacarpentry.org/r-intro-geospatial/06-dplyr/index.html">Data frame manipulation with dplyr</a></td>
            </tr>
		       <tr>
                <td>14:55</td>
                <td>15:30</td>
                <td>00:35:00</td>
                <td><a href="https://datacarpentry.org/r-intro-geospatial/07-plot-ggplot2/index.html">Introduction to visualisation</a></td>
            </tr>
		    	       <tr>
                <td>15:30</td>
                <td>15:50</td>
                <td>00:20:00</td>
                <td><a href="https://datacarpentry.org/r-intro-geospatial/08-writing-data/index.html">Writing data</a></td>
            </tr>
           
        </table>
  </div>
  <div class="col-md-6">
    <h3>Day 2</h3>
    <table>
            <th>Start</th>
            <th>End</th>
            <th>Length</th>
            <th>Episode</th>
            <tr>
                <td>09:00</td>
                <td>09:50</td>
                <td>00:50:00</td>
                <td><a href="https://datacarpentry.org/r-raster-vector-geospatial/01-raster-structure/index.html">Intro to raster data</td>
            </tr>
	     <tr style="background-color:green;font-weight:bold">
                <td>09:50</td>
                <td>10:05</td>
                <td>00:15:00</td>
                <td>BREAK</td>
            </tr>
            <tr>
                <td>10:05</td>
                <td>11:25</td>
                <td>01:20:00</td>
                <td><a href="https://datacarpentry.org/r-raster-vector-geospatial/02-raster-plot/index.html">Plot raster data</a>
                </td>
            </tr>
            <tr>
                <td>11:25</td>
                <td>12:25</td>
                <td>01:00:00</td>
                <td><a href="https://datacarpentry.org/r-raster-vector-geospatial/03-raster-reproject-in-r/index.html">Reproject raster data</a></td>
            </tr>
	        <tr style="background-color:green;font-weight:bold">
                <td>12:25</td>
                <td>13:25</td>
                <td>01:00:00</td>
                <td>LUNCH</td>
            </tr>
            <tr>
                <td>13:15</td>
                <td>14:15</td>
                <td>01:00:00</td>
                <td><a href="https://datacarpentry.org/r-raster-vector-geospatial/04-raster-calculations-in-r/index.html">Raster calculations</a></td>
            </tr>
                </tr> 
		    <tr style="background-color:green;font-weight:bold">
                <td>14:15</td>
                <td>14:30</td>
                <td>00:15:00</td>
                <td>BREAK</td>
            </tr>
            <tr>
                <td>14:30</td>
                <td>15.30</td>
                <td>01:00:00</td>
                <td><a href="https://datacarpentry.org/r-raster-vector-geospatial/05-raster-multi-band-in-r/index.html">Work with multi-band rasters</a></td>
       
            <tr>
                <td>15:30</td>
                <td>16:00</td>
                <td>00:30:00</td>
                <td><a href="https://datacarpentry.org/r-raster-vector-geospatial/06-vector-open-shapefile-in-r/index.html">Open and plot shapefiles</a></td>
            </tr>
		
        </table>
  </div>
 <div class="col-md-6">
    <h3>Day 3</h3>
    <table>
            <th>Start</th>
            <th>End</th>
            <th>Length</th>
            <th>Episode</th>
            <tr>
                <td>09:00</td>
                <td>10:00</td>
                <td>01:00:00</td>
                <td><a href="https://datacarpentry.org/r-raster-vector-geospatial/07-vector-shapefile-attributes-in-r/index.html">Explore and plot by vector layer attributes</td>
            </tr>
	     <tr style="background-color:green;font-weight:bold">
                <td>10:00</td>
                <td>11:00</td>
               <td>01:00:00</td>
                 <td><a href="https://datacarpentry.org/r-raster-vector-geospatial/07-vector-shapefile-attributes-in-r/index.html">Plot multiple shapefiles</td>
            </tr>
	      <tr style="background-color:green;font-weight:bold">
                <td>11:00</td>
                <td>11:15</td>
                <td>00:15:00</td>
                <td>BREAK</td>
            </tr>
	       <tr>
                <td>11:15</td>
                <td>12:15</td>
                <td>01:00:00</td>
                <td><a href="https://datacarpentry.org/r-raster-vector-geospatial/09-vector-when-data-dont-line-up-crs/index.html">Handling spatial projection & CRS</a>
                </td>
            </tr>
	     <tr style="background-color:green;font-weight:bold">
                <td>12:15</td>
                <td>13:15</td>
                <td>01:00:00</td>
                <td>LUNCH</td>
            </tr>
            <tr>
                <td>13:15</td>
                <td>14:15</td>
                <td>01:00:00</td>
                <td><a href="https://datacarpentry.org/r-raster-vector-geospatial/10-vector-csv-to-shapefile-in-r/index.html">Convert from .csv to a shapefile</a>
                </td>
            </tr>
	    <tr>
                <td>14:15</td>
                <td>15:15</td>
                <td>01:00:00</td>
                <td><a href="https://datacarpentry.org/r-raster-vector-geospatial/11-vector-raster-integration/index.html">Manpipulate raster data</a>
                </td>
            </tr>
	    <tr>
                <td>15:15</td>
                <td>16:15</td>
                <td>01:00:00</td>
                <td><a href="https://datacarpentry.org/r-raster-vector-geospatial/12-time-series-raster/index.html">Raster time series data</a>
                </td>
            </tr>
	    
         
        </table>
  </div>
</div>

{% else %}
{% include warning-curriculum.html %}
{% endif %}
